@import '_scroll';
@import '_colors';
@import '_navbar';
@import '_home';
@import '_base';
@import'_typography';
@import'_footer';

body {
    margin: 0;
    width: 100%;
    background-color: $body;
    font-family: 'Lato', sans-serif;
}